html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 1920px;
  margin: 0 auto;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: $font-size;
  font-weight: 400;
  color: $color-text;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.img {
  min-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  background-color: $color-grey;
  color: $color-text;
  text-align: center;
  border: none;
  outline: none;
  display: block;

  &:hover,
  &:focus {
    opacity: 0.3;
    cursor: pointer;
  }

  &:active {
    opacity: 0.3;
  }
}

a {
  text-decoration: none;
}

.title {
  font-weight: 500;
}
