$font-family: "Montserrat", "Arial", sans-serif;
$color-text: #ffffff;
$color-grey: rgba(46, 55, 59, 1);
$color-red: rgaba(246, 64, 79, 1);
$font-size: 16px;
$font-weight: 400;
$line-height: 21.6px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

